body{
	font-family: Poppins;
	background-color: #FFF295;
}

.navbar-brand{
	color: #E8443A;
}

.tiket{
	background-size: contain;
	background-position: right !important;
}
.card-img-top {
	width: 100%;
	height: 25vh;
	object-fit: cover;
}